= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .row
    .large-6.columns
      = f.label :name, class: 'control-label'
      = f.text_field :name, class: 'form-control'

  .row
    .large-6.columns
      = f.label :email, class: 'control-label'
      = f.text_field :email, class: 'form-control'

  - if current_user.role == 'admin'
    .row
      .large-6.columns
        = f.label :password, class: 'control-label'
        = f.password_field :password, class: 'form-control'

    .row
      .large-6.columns
        = f.label :password_confirmation, class: 'control-label'
        = f.password_field :password_confirmation, class: 'form-control'

  .row
    .large-6.columns
      = f.label :role, class: 'control-label'
      = f.text_field :role, class: 'form-control'
  
  = f.submit 'Save', class: 'button small success'
