.page-header
  %h1 New user
  .btn-toolbar
    .btn-group
      = link_to('User List', cavy_admin_users_path, class: 'btn btn-default  btn-small')
    = render 'cavy/shared/admin_locale_links'

= render 'form'
