.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/coverage
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/public/uploads/
.idea
*.gem
coverage/*
rdoc/*

.DS_Store
bower_components
node_modules
npm-debug.log
