%h1 Listing items

%table
  %tr
    %th Name
    %th Data
    %th
    %th

  - @items.each do |item|
    %tr
      %td= item.name
      %td= item.data
      %td= link_to 'Edit', cavy_edit_item_path(item.id)
      %td= link_to 'Destroy', cavy_delete_item_path(item.id), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Item', cavy_new_item_path
