<div class="page-header">
  <h1>
    <%= @item_section.title %>
  </h1>
</div>

<% @item_groups.each do |item_group| %>
    <h3><%= item_group.title %></h3>
    <table>
      <thead>
      <tr>
        <% item_group.params.each do |key| %>
            <th><%= key %></th>
        <% end %>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% item_group.items.each do |item| %>
          <tr>
            <form>
              <% item_group.params.each do |key| %>
                  <td>
                    <input <%= item.get_data(key) %>
                  </td>
              <% end %>
              <td></td>
            </form>
            <td></td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% end %>
