<div class="page-header">
  <h1>Edit Page</h1>
</div>

<div class="button-group" style="margin-bottom: 2rem;">
  <a href="<%= admin_add_page_data_path(@page.id) %>" id="edit-page-data-<%= @page.id %>" class="button small">
    <i class="fa fa-database" aria-hidden="true"></i>
    Add Data Field
  </a>
</div>

<% if @page.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@page.errors.count, 'error') %>
        prohibited this page from being saved:
      </h2>
      <ul>
        <% @page.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="expanded row">
  <div class="large-9 columns">
    <div class="form-set">
      <%= form_for(@page, url: admin_update_page_path, method: :put, html: {multipart: true}) do |f| %>
          <div class="form-set-title">
            Page Content
          </div>

          <%= f.label 'Title:', class: 'control-label' %>
          <%= render 'cavy/admin_pages/page_localized_string_field', id: 'page-title', field_name: 'page[title]', translations: @page.get_title_translations %>

          <% @page.cavy_page_template.fields.try(:each) do |key, value| %>
              <%= f.label "#{key}:", class: 'control-label' %>
              <% if value == 'TEXT' %>
                  <%= render 'cavy/admin_pages/page_localized_text_field', id: "page-elements-#{key}", field_name: "page[page_elements][#{key}]", translations: @page.get_translations(key) %>
              <% elsif value == 'STRING' %>
                  <%= render 'cavy/admin_pages/page_localized_string_field', id: "page-elements-#{key}", field_name: "page[page_elements][#{key}]", translations: @page.get_translations(key) %>
              <% elsif value == 'PICTURE' %>
                  <%= render 'cavy/admin_pages/page_localized_picture_field', id: "page-elements-#{key}", field_name: "page[page_elements][#{key}]", translations: @page.get_translations(key) %>
              <% end %>
          <% end unless @page.cavy_page_template.nil? %>


          <% unless @page.data == nil || @page.data == {} %>
              <div class="form-set-title" style="padding-top: 1em">
                Page Data
              </div>
              <% @page.data.try(:each) do |key, value| %>
                  <%= f.label key, class: 'control-label' %>
                  <%= f.text_field key, class: 'form-control', value: value, name: "page[data][#{key}]", id: "item[data][#{key}]" %>
              <% end %>
          <% end %>

          <%= f.submit('Submit', class: 'success button', id: 'submit_page_content', style: 'margin-top:1em') %>
      <% end %>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="form-set">
      <%= form_for(@page, url: admin_update_page_path, method: :put) do |f| %>

          <div class="form-set-title">
            Page Settings
          </div>
          <%= f.label :cavy_page_template_id, 'Page Template' %>
          <%= f.collection_select :cavy_page_template_id, Cavy::PageTemplate.all, :id, :name, {selected: @page.cavy_page_template_id} %>
          <%= f.label :route, class: 'control-label' %>
          <%= f.text_field :route, class: 'form-control' %>

          <div class="form-set-title">
            SEO
          </div>
          <%= f.label :meta_tags, class: 'control-label' %>
          <%= f.text_field :tag_string, value: "#{@page.seo_keywords.to_h[I18n.locale.to_s].to_a.join(',')}", class: 'form-control', id: 'page_tag_string' %>
          <%= f.label :meta_description, class: 'control-label' %>
          <%= f.text_area :seo_description_string, class: 'form-control', value: @page.seo_description.to_h[I18n.locale.to_s].to_s %>

          <%= f.submit('Submit', class: 'success button', id: 'submit_page_settings') %>
      <% end %>
    </div>
  </div>
</div>


