%article#overview
  .page-header
    %h1 Website Dashboard
    = render 'cavy/shared/admin_locale_links'
  
  %ul.nav.nav-pills.nav-justified#chart-tab
    %li
      %a{'href' => '#overview-pane'} Overview

  .tab-content
    #overview-pane.tab-pane
      %h3 Overview
