<div class="card" style="width: 700px">
  <div class="card-divider">
    <h1>Create a New User</h1>
  </div>
  <div class="card-section">
    <form action="<%= cavy_first_time_create_user_path %>" id="first_time_user" method="POST">
      <label>
        Name:
        <input class="form-control" id="inputName" name="name" type="text"/>
      </label>
      <label>
        Email:
        <input class="form-control" id="inputEmail" name="email" type="text"/>
      </label>
      <label>
        Password:
        <input class="form-control" id="inputPassword" name="password" type="password"/>
      </label>
      <label>
        Password Confirmation:
        <input class="form-control" id="inputPasswordConfirmation" name="password_confirmation" type="password"/>
      </label>
      <button class="button success" id="signin">Create User</button>
    </form>
  </div>
</div>
