%article.first-time

  .page-header
    %h1
      Create a New User
  %br/
  %form#first_time_user{"action" => cavy_first_time_create_user_path, "method" => "POST"}
    %fieldset
      .form-group
        %input#inputName.form-control{:placeholder => "Name", :type => "text", name: "name"}/
      .form-group
        %input#inputEmail.form-control{:placeholder => "Email", :type => "text", name: "email"}/
      .form-group
        %input#inputPassword.form-control{:placeholder => "Password", :type => "password", name: "password"}/
      .form-group
        %input#inputPasswordConfirmation.form-control{:placeholder => "Password Confirmation", :type => "password", name: "password_confirmation"}/
      .form-group
        %button.btn.btn-default{:type => "submit"} Create User
  %br/
  %br/
  %br/