%article.first-time
  %br/
  %br/
  .jumbotron
    %h1 Welcome to Cavy!
    %p
      Cavy is the latest Rails CMS for developing internationalized and dynamic websites with ease. 
    %br/
    %p
      %a.btn.btn-primary.btn-large{ href: cavy_first_time_new_user_path }
        Create a new User
  %br/
  %br/
  %br/