<article id="firstTime">
  <div class="card" style="width: 700px;">
    <div class="card-divider">
      <h1>Welcome to Cavy!</h1>
    </div>
    <div class="card-section">
      <p>
        Cavy is the latest Rails CMS for developing internationalized and dynamic websites with ease.
      </p>
      <br/>
      <p style="text-align: center;">
        <a class="button primary" href="<%= cavy_first_time_new_user_path %>" id="new-user">
          Create a new User
        </a>
      </p>
    </div>
  </div>
</article>
