.navbar-inverse {
  background-color: #193441;
}

.navbar-inverse .navbar-brand {
  color: #FCFFF5;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
} 

.navbar-inverse .navbar-nav > li > a:hover {
  color: #FCFFF5;
}