.form-horizontal textarea, .form-horizontal input[type="text"] {
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 40px;
}

.row {
}

#admin-locale-links
{
    position: absolute;
    top: 60px;
    right: 20px;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 980px) {
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}