.form-horizontal textarea, .form-horizontal input[type="text"] {
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 40px;
}

.row {
}

#admin-locale-links
{
    position: absolute;
    top: 60px;
    right: 20px;
}