article.session {
  max-width: 800px;
  margin: 0 auto 0 auto;
}

article.session .page-header {
  text-align: center;
}

input[type="text"], input[type="password"]  {
  max-width: 300px;
}

form#session_form {
  margin: 0 auto;
  max-width: 300px;
}

form#session_form button {
  width: 300px;
}