#admin-sidebar {
  max-width: 250px;
  margin: 20px;
  background-color: #D1DBBD;
}

span.section-title {
  color: #3E606F;
  font-weight: bold;
}

ul.list-group
{
  margin: 10px 0 10px 0;
  list-style: none;
}

ul.list-group li {
  background-color: #D1DBBD;
}

ul.list-group li a {
  color: #3E606F;
}

ul.list-group li a:hover {
  color: #193441;
  text-decoration: none;
}