%form#mercury_media.form-horizontal{:style => "width:615px"}
  .form-inputs.mercury-display-pane-container
    %fieldset
      %legend Images
      .control-group.url.optional
        %label.url.optional.control-label{:for => "media_image_url"}
          %input{:checked => "checked", :name => "media_type", :type => "radio", :value => "image_url"}>/
          URL
        .controls
          %input#media_image_url.span6.string.url.optional{:name => "media[image_url]", :size => "50", :type => "text"}/
      .control-group.number.optional
        %label.number.optional.control-label{:for => "image_width"} Image Width
        .controls
          %input#image_width.span2.number.optional{:name => "media[image_width]", :size => "50", :type => "number", :value => "400"}/
      .control-group.number.optional
        %label.number.optional.control-label{:for => "image_height"} Image Height
        .controls
          %input#image_height.span2.number.optional{:name => "media[image_height]", :size => "50", :type => "number", :value => "225"}/
    %fieldset
      %legend Videos
      .control-group.url.optional
        %label.url.optional.control-label{:for => "media_youtube_url"}
          %input{:name => "media_type", :type => "radio", :value => "youtube_url"}>/
          YouTube URL
        .controls
          %input#media_youtube_url.span6.string.url.optional{:name => "media[youtube_url]", :placeholder => "http://youtu.be/Pny4hoN8eII", :size => "50", :type => "text"}/
      .control-group.url.optional
        %label.url.optional.control-label{:for => "media_vimeo_url"}
          %input{:name => "media_type", :type => "radio", :value => "vimeo_url"}>/
          Vimeo URL
        .controls
          %input#media_vimeo_url.span6.string.url.optional{:name => "media[vimeo_url]", :placeholder => "http://vimeo.com/25708134", :size => "50", :type => "text"}/
    %fieldset
      %legend Options
      #image_url_options.media-options
        .control-group.select.optional
          %label.select.optional.control-label{:for => "media_image_alignment"} Alignment
          .controls
            %select#media_image_alignment.select.optional{:name => "media[image_alignment]"}
              %option{:value => ""} None
              %option{:value => "left"} Left
              %option{:value => "right"} Right
              %option{:value => "top"} Top
              %option{:value => "middle"} Middle
              %option{:value => "bottom"} Bottom
              %option{:value => "absmiddle"} Absolute Middle
              %option{:value => "absbottom"} Absolute Bottom
          %label.select.optional.control-label{:for => "media_image_float"} Float
          .controls
            %select#media_image_float.select.optional{:name => "media[image_float]"}
              %option{:value => ""} None
              %option{:value => "left"} Left
              %option{:value => "right"} Right
              %option{:value => "none"} None
              %option{:value => "inherit"} Inherit
      #youtube_url_options.media-options{:style => "display:none"}
        .control-group.number.optional
          %label.number.optional.control-label{:for => "media_youtube_width"} Width
          .controls
            %input#media_youtube_width.span2.number.optional{:name => "media[youtube_width]", :size => "50", :type => "number", :value => "560"}/
        .control-group.number.optional
          %label.number.optional.control-label{:for => "media_youtube_height"} Height
          .controls
            %input#media_youtube_height.span2.number.optional{:name => "media[youtube_height]", :size => "50", :type => "number", :value => "349"}/
      #vimeo_url_options.media-options{:style => "display:none"}
        .control-group.number.optional
          %label.number.optional.control-label{:for => "media_vimeo_width"} Width
          .controls
            %input#media_vimeo_width.span2.number.optional{:name => "media[vimeo_width]", :size => "50", :type => "number", :value => "400"}/
        .control-group.number.optional
          %label.number.optional.control-label{:for => "media_vimeo_height"} Height
          .controls
            %input#media_vimeo_height.span2.number.optional{:name => "media[vimeo_height]", :size => "50", :type => "number", :value => "225"}/
  .form-actions.mercury-display-controls
    %input.btn.btn-primary{:name => "commit", :type => "submit", :value => "Insert Media"}/