@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
// @include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

#site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main#centeredContent {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
  }

  main#content {
    flex: 1 1 auto;
    display: flex;
    background-color: darken(rgb(250,250,250),2%);
  }

  #sidebar {
    background-color: lighten(#193441,5%);
    padding: 0;

    ul {
      list-style: none;
      margin: 0;

      li {
        padding: 1em;
        //border-bottom: 1px solid darken(rgb(250,250,250), 10%);
        a, a:hover {
          color: #FFFFFF;
        }
      }
      li:hover {
        background-color: lighten(#0c3d5d,10%);
      }
    }
  }

  #contentRow {
    flex: 1 0 auto;
    width: 100%;
  }
  .menu {
    color: #FCFFF5;
  }
  .menu a {
    color: #FCFFF5;
  }
  .dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    border-color: #FCFFF5 transparent transparent;
  }

  footer {
    text-align: center;
    padding: 1em;
    color: #193441;
    background-color: rgb(250, 250, 250);
  }
}

.form-set {
  background-color: #FFFFFF;
  padding: 1em;
  margin-bottom: 1em;

  .form-set-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1em;
  }
}

.page-header {
  padding: 1em 0 1em 0;
}

ul.localized-field-locale-labels {
  list-style: none;
  li {
    display: inline-block;

    a, a:hover {
      color: rgb(51,51,51);

      &.empty {
        color: red;
      }

      &.filled {
        color: green;
      }

      &.active {
        color: blue;
      }
    }

    &:after {
      content: ' | ';
    }

    &:last-child:after {
      content: '';
    }
  }
}