<div class="card" style="width: 700px">
  <div class="card-divider">
    <h1>Please Sign In to Continue</h1>
  </div>
  <div class="card-section">
    <%= form_tag(admin_create_session_path, id: 'session_form') do %>
        <label>
          Email:
          <%= text_field_tag :email, params[:email], id: "user-email" %>
        </label>
        <label>
          Password:
          <%= password_field_tag :password, nil, id: "user-password" %>
        </label>
        <button class="button success" id="sign-in" type="submit">Sign In</button>
    <% end %>
  </div>
</div>
