%article.session
  .page-header
    %h1
      Please Sign In to Continue
  = form_tag( admin_create_session_path, id: 'session_form' ) do
    %fieldset
      .form-group
        = text_field_tag :email, params[:email], placeholder: "Email", id: "user-email", class: 'form-control'
      .form-group
        = password_field_tag :password, nil, placeholder: "Password", id: "user-password", class: 'form-control'

      .form-group
        %button.btn.btn-primary{ type: 'submit', id: 'sign-in'} Sign In