<div class="top-bar">

  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <%= Cavy.title || 'Cavy' %>
      </li>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <%= render 'cavy/shared/admin_locale_links' %>
      </li>
      <% if current_user %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-user" aria-hidden="true"></i>
              <%= current_user.name %>
            </a>
            <ul class="menu vertical">
              <li>
                <a href="<%= admin_destroy_session_path %>" id="log-out">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                  Sign Out
                </a>
              </li>
            </ul>
          </li>
      <% end %>
    </ul>
  </div>

</div>
