.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Administration
    %li
      %a{href: admin_overview_path, id: "admin-overview"} Overview

    %li.nav-header Pages
    %li
      %a{href: admin_pages_path, id: "admin-pages"} Pages
    - if current_user.dev_team?
      %li
        %a{href: admin_new_page_path, id: "admin-new-page"} New Page

    - if current_user.site_manager?
      %li.nav-header Users
      %li
        %a{href: cavy_admin_users_path, id: "admin-users"} Users
    - if current_user.dev_team?
      %li
        %a{href: cavy_admin_new_user_path, id: "admin-new-users"} New User
    - if current_user.dev_team?
      %li.nav-header Items
      %li
        %a{href: item_groups_path, id: "admin-item-groups"} Item Groups
      %li
        %a{href: admin_new_item_group_path, id: "admin-item-groups"} New Item Group
    %li.nav-header Item Sections
    - Cavy::ItemSection.all.try(:each) do |section|
      %li= link_to section.title, section