<ul>
  <li>
    <a href="<%= admin_dashboard_path %>" id="admin-overview">
      <i class="fa fa-tachometer" aria-hidden="true"></i>
      Dashboard
    </a>
  </li>

  <li>
    <a href="<%= admin_pages_path %>" id="admin-pages">
      <i class="fa fa-files-o" aria-hidden="true"></i>
      Pages
    </a>
  </li>

  <% Cavy::ItemSection.all.each do |section| %>
      <li>
        <%= link_to section.title, cavy_item_section_path(section.id) %>
      </li>
  <% end %>

  <li>
    <a href="<%= admin_system_path %>" id="admin-system">
      <i class="fa fa-cogs" aria-hidden="true"></i>
      System Settings
    </a>
  </li>
</ul>
