<ul>
  <li>
    <a href="<%= admin_dashboard_path %>" id="admin-overview">
      <i class="fa fa-tachometer" aria-hidden="true"></i>
      Dashboard
    </a>
  </li>
  <li>
    <a href="<%= admin_page_templates_path %>" id="admin-page-templates">
      <i class="fa fa-clipboard" aria-hidden="true"></i>
      Page Templates
    </a>
  </li>

  <li>
    <a href="<%= admin_pages_path %>" id="admin-pages">
      <i class="fa fa-files-o" aria-hidden="true"></i>
      Pages
    </a>
  </li>
  <% Cavy::ItemSection.all.each do |section| %>
      <li>
        <%= link_to section.title, cavy_item_section_path(section.id) %>
      </li>
  <% end %>
  <% if current_user and current_user.role == 'admin' %>
      <li>
        <a href="<%= item_groups_path %>" id="admin-item-groups">
          <i class="fa fa-database" aria-hidden="true"></i>
          Item Groups
        </a>
      </li>
      <% if current_user&.site_manager? %>
          <li>
            <a href="<%= cavy_admin_users_path %>" id="admin-users">
              <i class="fa fa-users" aria-hidden="true"></i>
              Users
            </a>
          </li>
      <% end %>
  <% end %>
</ul>
