<div class="top-bar">

  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <%= Cavy.title || 'Cavy' %>
      </li>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="locale-links">
          <% I18n.available_locales.each do |locale| %>
              <%= link_to locale.upcase, url_for(locale: locale) %>
          <% end %>
      </li>
      <% if current_user %>
          <li>
            <a href="#">
              <i class="fa fa-user" aria-hidden="true"></i>
              <%= current_user.name %>
            </a>
            <ul class="menu vertical">
              <li>
                <a href="<%= admin_destroy_session_path %>" id="log-out">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                  Sign Out
                </a>
              </li>
            </ul>
          </li>
      <% end %>
    </ul>
  </div>

</div>
