<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggle" data-target=".bs-navbar-collapse" data-toggle="collapse" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= admin_dashboard_path %>">
      <%= Cavy.title || "Cavy" %>
    </a>
    <div class="nav-collapse collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <% Cavy::Page.all.each do |page| %>
            <li>
              <%= cavy_page(page.route, page.title, id: page.route) %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
