<!doctype html>

<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">

  <title><%= @title ? @title : 'Cavy' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <%= stylesheet_link_tag 'cavy/application', media: 'all' %>
  <%= javascript_include_tag 'cavy/application' %>
  <%= csrf_meta_tags %>
  <% unless @page.nil?  %>
      <%= meta_tags(@page) %>
  <% end %>

</head>

<body>
<%= render 'layouts/cavy/header' %>

<div class="row">
  <div class="large-12 columns">
    <%= yield %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <footer>

      <% if can_edit? && @page %>
          <%= link_to 'edit', admin_edit_page_path(@page.id) %>
      <% end %>
      <%= debug(params) if Rails.env.development? %>

      <br/>

      &copy; Ruby Rainbows <%= Time.now.year %>
    </footer>

  </div>
</div>
</body>
</html>
