<!DOCTYPE html>
<html>
<head>
  <title>Cavy</title>
  <%= stylesheet_link_tag    "cavy/application", media: "all" %>
  <%= javascript_include_tag "cavy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
