<div class="page-header" id="with-button">
  <h1>Item Groups</h1>
  <div class="btn-toolbar">
    <div class="btn-group">
      <a class="button primary small" href="<%= admin_new_item_group_path %>">New Item Group</a>
      <a class="button primary small" href="<%= cavy_item_sections_path %>">Combine Groups into Sections</a>
    </div>
  </div>
</div>

<% if @item_groups.count >= 1 %>
  <table class="table table-striped">
    <thead>
      <th>Title</th>
      <th>Parameters</th>
      <th></th>
      <% if current_user.dev_team? %>
        <th></th>
      <% end %>
    </thead>
    <tbody>
      <% @item_groups.each do |item_group| %>
        <tr>
          <td>
            <%= link_to item_group.title, cavy_item_group_path(item_group.id) %>
          </td>
          <td>
            <%= item_group.params.join(', ') if item_group.params %>
          </td>
          <td>
            <%= link_to 'Edit', admin_edit_item_group_path(item_group.id), class: 'button small primary' %>
          </td>
          <% if current_user.dev_team? %>
            <td>
              <%= link_to 'Destroy', cavy_delete_item_group_path(item_group.id), class: 'button small alert', :method => :delete, :data => { :confirm => 'Are you sure?' }, id: "delete-#{item_group.id}" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  You dont have any item groups yet.
<% end %>
